<nav>
    <ul>
        <li style="text-align: left;"><a href="/home/<%= person %>"" >Home</a></li>
        <li style="text-align: left;"><a href="/home/<%= person %>/contact">Contact</a></li>
    </ul>
</nav>